# Results with Merged Dataset
#### Q5: For all of the models that were produced in 2008 that are still being produced now, how much has the mpg improved and which vehicle improved the most?
Remember to use your new dataset, `combined_dataset.csv`. You should've created this data file in the previous section: *Merging Datasets*.

In [10]:
import pandas as pd
# load dataset

df = pd.read_csv('combined_dataset.csv')

### 1. Create a new dataframe, `model_mpg`, that contain the mean combined mpg values in 2008 and 2018 for each unique model

To do this, group by `model` and find the mean `cmb_mpg_2008` and mean `cmb_mpg` for each.

In [11]:
model_mpg = df.groupby('model').mean()
model_mpg['cmb_mpg_2008']

model
ACURA RDX            19.000000
AUDI A3              23.333333
AUDI A4              21.000000
AUDI A6              19.666667
AUDI A8 L            16.500000
                       ...
TOYOTA Yaris         31.500000
VOLKSWAGEN Jetta     24.166667
VOLKSWAGEN Passat    21.250000
VOLVO S60            21.333333
VOLVO XC 90          15.666667
Name: cmb_mpg_2008, Length: 72, dtype: float64

### 2. Create a new column, `mpg_change`, with the change in mpg
Subtract the mean mpg in 2008 from that in 2018 to get the change in mpg

In [12]:
model_mpg['mpg_change'] = model_mpg.cmb_mpg-model_mpg.cmb_mpg_2008

In [13]:
model_mpg.head()

,displ_2008,cyl_2008,air_pollut_2008,city_mpg_2008,hwy_mpg_2008,cmb_mpg_2008,greenhouse_2008,displ,cyl,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,mpg_change
model,,,,,,,,,,,,,,,
ACURA RDX,2.300000,4.000000,7.000000,17.000000,22.000000,19.000000,5.000000,3.500000,6.000000,3.000000,19.500000,27.500000,22.500000,4.500000,3.500000
AUDI A3,2.400000,4.666667,6.666667,20.333333,27.666667,23.333333,6.666667,2.000000,4.000000,7.000000,25.000000,33.000000,28.000000,6.000000,4.666667
AUDI A4,2.825000,5.500000,6.250000,17.750000,26.750000,21.000000,6.000000,2.000000,4.000000,4.000000,24.000000,33.500000,27.000000,6.000000,6.000000
AUDI A6,3.466667,6.666667,6.000000,17.000000,25.000000,19.666667,5.666667,2.333333,4.666667,4.333333,22.333333,31.333333,25.666667,5.333333,6.000000
AUDI A8 L,5.100000,10.000000,6.000000,14.500000,21.000000,16.500000,4.000000,3.000000,6.000000,3.000000,19.000000,29.000000,22.000000,4.000000,5.500000

### 3. Find the vehicle that improved the most
Find the max mpg change, and then use query or indexing to see what model it is!

In [14]:
model_mpg.mpg_change.max()

16.53333333333334

In [16]:
model_mpg.query('mpg_change==16.53333333333334')

,displ_2008,cyl_2008,air_pollut_2008,city_mpg_2008,hwy_mpg_2008,cmb_mpg_2008,greenhouse_2008,displ,cyl,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,mpg_change
model,,,,,,,,,,,,,,,
VOLVO XC 90,3.6,6.666667,7.0,13.666667,19.666667,15.666667,3.666667,2.0,4.0,5.8,30.6,35.0,32.2,7.0,16.533333